body{
    background-color: #3c40c6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; 
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 30px;
}

.an1{
    display: block;
    text-decoration: none;
}

.color1{
    background-color: white;
    border-radius: 4px;
    width: 340px;
    text-align: center;
    padding: 12px;
}

.images img{
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

.divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.divs span{
    font-weight: bold;
    color: black;
}

@media (max-width:425px) {
    .color1{
        width: 315px;
    }
}


@media (max-width: 376px){
   .color1{
    width: 280px;
  }
}

@media (Max-width: 321px) {
  .color1{
    width: 230px;
}
}
